<nav class="container-fluid">
  <ul>
    <li><a href="{{ .Site.BaseURL }}" class="contrast"><strong>{{ .Site.Title }}</strong></a></li>
  </ul>
  <ul>
    <li>
      <a href="/about/">
        <summary aria-haspopup="listbox" role="link" class="contrast">About</summary>
      </a>
    </li>
    <li>
      <a href="/booklet/">
        <summary aria-haspopup="listbox" role="link" class="contrast">Booklet</summary>
      </a>
    </li>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast">Docs</summary>
        <ul role="listbox">
          <li><a href="/docs/grammar/">文法用語の解説</a></li>

          <li><a href="/docs/udhr/">各言語の世界人権宣言</a></li>

          <li><a href="/docs/deu/">ドイツ語 / Deutsch</a></li>
          <li><a href="/docs/fra/">フランス語 / Français</a></li>
          <li><a href="/docs/spa/">スペイン語/ Español</a></li>
          <li><a href="/docs/rus/">ロシア語/ Русский</a></li>
          <li><a href="/docs/zho/">中国語 / 汉语 (普通话)</a></li>
          <li><a href="/docs/kor/">韓国朝鮮語 / 한국어</a></li>
          <li><a href="/docs/lat/">ラテン語 / Latina</a></li>
          <li><a href="/docs/grc/">古典ギリシア語 / Ἑλληνική</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast">Olympiad</summary>
        <ul role="listbox">
          <li><a href="/olympiad/about/">「言語学オリンピック」とは？</a></li>
          <li><a href="/olympiad/jol/2022/1/">JOL2022-1 タグバヌワ文字</a></li>
          <li><a href="/olympiad/jol/2022/2/">JOL2022-2 タワラ語</a></li>
          <li><a href="/olympiad/jol/2019/4/">JOL2019-4 イヌクティトゥット語</a></li>
          <li><a href="/olympiad/jol/2018/1/">JOL2018-1 主の祈り</a></li>
          <li><a href="/olympiad/jol/2017/3/">JOL2017-3 モンゴル語</a></li>
          <li><a href="/olympiad/aplo/2022/1/">APLO2022-1 パナラ語</a></li>
          <li><a href="/olympiad/uklo/2021/1/1/">UKLO2021R1-1 オガム文字</a></li>
          <li><a href="/olympiad/uklo/2021/1/2/">UKLO2021R1-2 カビル語</a></li>
          <li><a href="/olympiad/uklo/2021/1/3/">UKLO2021R1-3 ワアマ語</a></li>
        </ul>
      </details>
    </li>
    <li>
      <details role="list" dir="rtl">
        <summary aria-haspopup="listbox" role="link" class="contrast">Theme</summary>
        <ul role="listbox">
          <li><a href="#" data-theme-switcher="auto">Auto</a></li>
          <li><a href="#" data-theme-switcher="light">Light</a></li>
          <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
      </details>
    </li>
  </ul>
</nav>
